<div class="search-results">
    <h3>SEARCH RESULTS</h3>
    <small>(By Default this table will have all data)</small>

    <table>
        <thead>
            <tr>
                <th>Character Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters; index as i">
                <td>
                    <a [routerLink]="['/character', i+1]" class="character-link">
                        {{ character.name }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>